@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
body {
 background: #111;
 font-family: "Open Sans",  Impact;
 margin: 0;
}

/* SCROLL-BAR */
::-webkit-scrollbar
{
  width: 0;
}
#scrollPath
{
  position: fixed;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}
#progressbar
{
    position: fixed;
    top: 0;
    right: 0;
    width: 20px;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 6s linear infinite;
}
@keyframes animate
{
    0%, 100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}
#progressbar:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}
#progressbar:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}
#objects_header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.brand{
  color: white;
}
body {
  background: #e1ebf3;
  width: inherit;
  
}
main{
  display: flex;
  justify-content: center;
}
#div_img{
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: -40px;
  width: 1180px;
  height: 790px;
  background-image: url("img/Frame_HARD.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
#buttons_all{
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: center;
}
#button_update{
  margin-top: 100px;
  width: 70px;
  height: 40px;
  padding-left: 15 px;
  border-radius: 20px;
}
#button_fix{
  margin-top: 100px;
  width: 70px;
  height: 40px;
  padding-left: 15 px;
  border-radius: 20px;
}
#button_fit{
  margin-top: 100px;
  width: 70px;
  height: 40px;
  padding-left: 15px;
  border-radius: 20px;
}
#text_ar{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
#button_13{
  width: 80px;
  height:  40px;
}
#butt_1{
  position: absolute;
  height: 18px;
  left: 159;
  top: 381;
}
#butt_2{
  position: absolute;
  height: 18px;
  left: 995;
  top: 198;
}
#butt_3{
  position: absolute;
  height: 18px;
  left: 245;
  top: 340;
}
#butt_4{
  position: absolute;
  height: 18px;
  left: 432;
  top: 227;
}
#butt_5{
  position: absolute;
  height: 18px;
  left: 622;
  top: 201;
}
#butt_6{
  position: absolute;
  height: 18px;
  left: 789;
  top: 466;
}
#butt_7{
  position: absolute;
  height: 18px;
  left: 620;
  top: 718;
}
#butt_8{
  position: absolute;
  height: 18px;
  left: 432;
  top: 675;
}
#butt_9{
  position: absolute;
  height: 14px;
  left: 852;
  top: 527;
}
#butt_10{
  position: absolute;
  height: 15px;
  left: 852;
  top: 589;
}
#butt_11{
  position: absolute;
  height: 15px;
  left: 852;
  top: 655;
}
#butt_12{
  position: absolute;
  height: 18px;
  left: 413;
  top: 133;
}
#div_img button{
  background-color: transparent;
  position: absolute;
  border: 0px;
  cursor: pointer;
  border-radius: 15px;
}


#main_img{
  width: 80%;
}

#lamp{
  width: 40%;
  margin-top: 27px;
}
#div_lamp{
  display: flex;
  align-items: center;
  width: 542px; 
  height: 100%;
}
#div_text{
  margin-left: 200px;
}
#text{
  font-size: 100px;
  font-family: "Open Sans",  Impact;
  color: white;
}
#text_head{
  font-family: "Open Sans",  Impact;
  color: white;
}

#q_p{
  background-color: white;
  width: 1200px;
  height: 260px;
  border-radius: 40px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}
#first_1{
  text-align: center;
  font-family: "Open Sans",  Impact;
  padding-top: 10px;
  font-weight: bold;
  padding-bottom: -10px;
}
#second_2{
  text-align: center;
  font-family: "Open Sans",  Impact;
  padding-top: -15px;
  font-weight: bold;
}
#first_objects{
  width: 1150px;
  height: 75px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
#second_objects{
  width: 1150px;
  height: 75px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}



#app {
  text-decoration: none;
  color: white;
  display: block;
  position: relative;
  text-align: center;
  padding: 15px 30px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  border-image-slice: 1;
  margin: 5% 5%;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 2px;
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}
#app:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  color: white;
  background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}
#app:hover {
  background: rgba(255, 255, 255, 0);
}
#app:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}


#a1{
  width: 160px;
  height: 60px;
  background-color: #74A7C4;
  margin: 6px;
  border-radius: 22px;
}
#a2{
  width: 160px;
  height: 60px;
  background-color: #74A7C4;
  margin: 6px;
  border-radius: 22px;
}
#a3{
  width: 160px;
  height: 60px;
  background-color: #74A7C4;
  margin: 6px;
  border-radius: 22px;
}
#a4{
  width: 160px;
  height: 60px;
  background-color: #74A7C4;
  margin: 6px;
  border-radius: 22px;
}
#a5{
  width: 160px;
  height: 60px;
  background-color: #74A7C4;
  margin: 6px;
  border-radius: 22px;
}
#a6{
  width: 160px;
  height: 60px;
  background-color: #74A7C4;
  margin: 6px;
  border-radius: 22px;
}
#a7{
  width: 160px;
  height: 60px;
  background-color: #74A7C4;
  margin: 6px;
  border-radius: 22px;
}
#a8{
  width: 160px;
  height: 60px;
  background-color: #74A7C4;
  margin: 6px;
  border-radius: 22px;
}
#a9{
  width: 160px;
  height: 60px;
  background-color: #74A7C4;
  margin: 6px;
  border-radius: 22px;
}
#a10{
  width: 160px;
  height: 60px;
  background-color: #74A7C4;
  margin: 6px;
  border-radius: 22px;
}
#a11{
  width: 160px;
  height: 60px;
  background-color: #74A7C4;
  margin: 6px;
  border-radius: 22px;
}
#a12{
  width: 160px;
  height: 60px;
  background-color: #74A7C4;
  margin: 6px;
  border-radius: 22px;
}
#a13{
  width: 160px;
  height: 60px;
  background-color: #74A7C4;
  margin: 6px;
  border-radius: 22px;
}
#header {
  text-align: center;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  background-image:url(https://thumb.tildacdn.com/tild3766-3135-4430-b762-303432643730/-/format/webp/back.jpg);
}
#header .header {
  min-height: 400px;
  flex-direction: column;
  padding-bottom: 10px;
  padding-top: 5px;
}

/* FOOTER */
#footer {
  text-align: center;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  width: 100vw;
  font-family: 'Montserrat', sans-serif;

  margin-top: 5%;
}
#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-bottom: 10px;
  padding-top: 5px;
}
#footer h2 {
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
#footer .social-icon {
  display: flex;
  justify-content: center;
  /* margin-top: 10px;
  margin-bottom: 20px; */
}
#footer .social-item img {
  height: 47px;
  width: 47px;
  margin: 0 5px;
}
#footer .social-item img {
  filter: grayscale(1);
  transition: 0.3s ease filter;
}

#footer .social-item:hover img {
  filter: grayscale(0);
}
#footer p {
  color: white;
  font-size: 1.3rem;
}
.misis{
  margin: 7px 12px 7px 0px;
  width: 100px;
}
.mail{
  font-weight: bold;
}

#body_main{
  display: flex;
  justify-content: center;
}

#text1{
  width: 550px;
  height: 250px;
  resize: none; 
  border : 2px solid;
  border-radius: 2%;
  margin-bottom: 20px;
}
#text2{
  margin: auto;
  font-size: 150;
  margin: auto;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
#text3{
  margin: auto;
  font-size: 50;
  margin: auto;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
#all_of_texts{
  display: column;
  align-items: center;
  margin-bottom: 15px;
  text-align: center;
}

.area {
  animation: blur .75s ease-out infinite;
  text-shadow: 0px 0px 100px #fff, 0px 0px 100px #fff;
}

/* @keyframes blur {
  from {
    text-shadow:0px 0px 100px #fff,
      0px 0px 100px #fff, 
      0px 0px 100px #fff;
  }
} */

.first_objects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100%;
}

.first_objects div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 60px;
  background-color: #74A7C4;
  margin: 6px;
  border-radius: 22px;
  text-align: center;
}

.zone textarea {
  width: 35px;
}
